body {
    background-image: url(../images/dark-paths.png);
    font-family: 'Questrial', sans-serif;
}

header {
    color: white;
    text-align: center;
    margin: 25px;
    font-size: 30px;
}

#formContainer, #displayContainer {
    background-color: white;
    border: 5px solid #d9b70e;
    margin: 25px auto;
    padding: 20px;
    width: 70%;
}

table {
    width: -webkit-fill-available;
}

th {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid gainsboro;
}

tr {
    font-size: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid gainsboro;
}

#tName {
    width: 25%;
    text-align: left;
}

#dest {
    width: 20%;
    text-align: left;
}

#freq, #next, #mins {
    width: 20%;
    text-align: left;
}

form {
    width: 80%;
}

.formHead, .displayHead {
    background-color: #d9b70e;
    color: #0f1c3d;
    width: 70%;
    margin: 25px auto -25px auto;
    height: 35px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
}

label {
    margin-bottom: 5px;
    font-size: 15px;
    color: #0f1c3d;
}

input {
    width: 124%;
    margin: 5px 0px 20px 0px;
    height: 35px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

button {
    font-size: 16px;
    background-color: #d9b70e;
    color: #0f1c3d;
    border: 1px solid #0f1c3d;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    height: 35px;
    width: 75px;
}